*{
    box-sizing: border-box;
}

#site{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 30px;
}

header{
    background-color: #363636;
    padding: 20px;
}

header a{
    color: #FFF;
}

header nav{
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* PROFIL */

#site>section{
    background-color: #d46531;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#site>section img{
    width: 50%;
    background-color: #FFF;
    border-radius: 50%;
}

#site>section p{
    width: 62%;
    margin-top: 25px;
}

/* COMPETENCES */
main>section:first-child{
    padding: 40px 15px;
}

main>section:first-child ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

main>section:first-child li{
    border: 4px solid #363636;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 20px;
}

.html{
    background-color: #d46531;
    font-weight: bold;
}

.css{
    background-color: #4365ed;
    font-weight: bold;
}

.javascript{
    background-color: #eada5b;
    font-weight: bold;
}

.php{
    background-color: #8a90bb;
    font-weight: bold;
}

.sql{
    background-color: #58789e;
    font-weight: bold;
}

.bootstrap{
    background-color: #6f53af;
    font-weight: bold;
}

.jquery{
    background-color: #3e68a9;
    font-weight: bold;
}

.symfony{
    background-color: #8ff041;
    font-weight: bold;
}

main>section:first-child section div{
    border: 4px solid #363636;
    border-radius: 15px;
    padding: 20px;
    background-color: #9eccf8;
}

main>section:first-child section div:first-of-type{
    margin-bottom: 20px;
}

main>section:first-child section div h3{
    font-weight: bolder;
}

/* PROJETS */
main>section:last-child{
    background-color: #d46531;
    padding: 40px 15px;
}

main>section:last-child section{
    display: flex;
    flex-direction: column;
}

main>section:last-child section div{
    background-color: #FFFFFF;
    border: 4px solid #363636;
    border-radius: 15px;
    padding: 20px 20px 10px;
    margin-bottom: 30px
}

main>section:last-child section div h3{
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 17px;
}

main>section:last-child section div p{
    line-height: 25px;
    font-size: 1.1rem;
}

main>section:last-child section div button{
    background-color: #363636;
    color: #FFF;
    border: none;
    border-radius: 9px;
    padding: 8px 10px;
    margin-top: 13px;
    cursor: pointer;
    font-size: 1.1rem;
}

/* FOOTER */
footer{
    padding: 40px 15px;
}

footer form{
    display: flex;
    flex-direction: column;
}

footer form label{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

footer form input, footer form textarea{
    border: 1px solid #363636;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.1rem;
}

footer form button{
    background-color: #363636;
    color: #FFF;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 1.1rem;
}
