*{
    box-sizing: border-box;
}

#site{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: #363636;
    padding: 20px;
}

header a{
    color: #FFF;
}

header nav{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#profil{
    background-color: #d46531;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#profil img{
    width: 50%;
    background-color: #FFF;
    border-radius: 50%;
}

#profil p{
    width: 62%;
    margin-top: 25px;
}
